<table>
  <tr>
    <td><h4>Todays Date:</h4></td>
    <td><%= Date.today %></td>
  </tr>
  <tr>
    <td><h4>Requested Date</h4></td>
    <td><%= @request_response.requested_date %></td>
  </tr>
  <tr>
    <td><h4>Request comment:<h4></td>
    <td><%= @request_response.comment %><td>
  </tr>
</table>
  <%= form_for @request_response do |f| %>
  <p>
    <%= f.select(:request_response, { "Accept" => 'accepted', "Deny" => 'denied'}) %>
  </p>
  <p>
    <%= f.label :Comment %><br>
    <%= f.text_area :admin_comment %>
  </p>
  <p>
    <%= submit_tag 'Confirm' %>
  </p>
<% end %>