<div>
<% if @current.is_admin? %>
  <%= form_tag( request_offs_path, method: 'get') do %>
    <%= select_tag "employee_id", options_from_collection_for_select(@employees, "id", "first_name") %>
    <br />
    <%= submit_tag "View Requests" %>
  <% end %>
<% end %>
  <% if @selected_employee %>
    <%= @selected_employee.first_name %>'s Requests

  <% else %>
  <table>
  <tr>
  <td><h3> Employee Name </h3></td>
  <td><h3> Day requested off </h3></td>
  <td><h3> Date request made </h3></td>
  <td><h3> Request Status </h3></td>
  <td><h3> Request Type </h3></td>
  <td><h3> Manager Comment </h3><td>

  </tr>
  <% if @current.is_admin? %>
    <% @request_offs.each do |request_off| %>
      <% if request_off.request_response == 'denied' %>
        <% if Date.today < request_off.requested_date %>
        <tr BGCOLOR="#FF0000">
          <td><%= link_to( request_off.employee.first_name, edit_request_off_path( request_off ) ) %></td>
          <td><%= request_off.requested_date %></td>
          <td><%= request_off.created_at %></td>
          <td><%= request_off.request_response %></td>
          <td><%= request_off.vacation_type %></td>
          <td><%= request_off.admin_comment %></td>     
        </tr>
        <tr>
          <th><h4> Comment </h4></th>
          <th colspan = 5><%= request_off.comment %></th>
        </tr>
        <% end %>
      <% else if request_off.request_response == 'accepted' %>
        <% if Date.today < request_off.requested_date %>
        <tr  BGCOLOR="00FF00">
          <td><%= link_to( request_off.employee.first_name, edit_request_off_path( request_off ) ) %></td>
          <td><%= request_off.requested_date %></td>
          <td><%= request_off.created_at %></td>
          <td><%= request_off.request_response %></td>
          <td><%= request_off.vacation_type %></td>
          <td><%= request_off.admin_comment %></td>
        </tr>
        <tr>
        <th><h4> Comment </h4></th>
          <th colspan = 5><%= request_off.comment %></th>
        </tr>
        <% end %>
      <% else %>
        <% if Date.today < request_off.requested_date %>
        <tr>
          <td><%= link_to( request_off.employee.first_name, edit_request_off_path( request_off ) ) %></td>
          <td><%= request_off.requested_date %></td>
          <td><%= request_off.created_at %></td>
          <td><%= request_off.request_response %></td>
          <td><%= request_off.vacation_type %></td>
          <td><%= request_off.admin_comment %></td>
        </tr>
        <tr>
          <th><h4> Comment </h4></th>
          <th colspan = 5><%= request_off.comment %></th>
        </tr>
        <% end %>
      <% end %>
      <% end %>

      <% end %>
    <% else %>
      <% @request_off.each do |request_off| %>
        <% if request_off.request_response == 'denied' %>
          <% if Date.today < request_off.requested_date %>
          <tr BGCOLOR="#FF0000">
            <td><%= request_off.employee.first_name %></td>
            <td><%= request_off.requested_date %></td>
            <td><%= request_off.created_at %></td>
            <td><%= request_off.request_response %></td>
            <td><%= request_off.vacation_type %></td>
            <td><%= request_off.admin_comment %></td>
          </tr>
          <tr>
            <th><h4> Comment </h4></th>
            <th colspan = 5><%= request_off.comment %></th>
          </tr>
          <% end %>
      <% else if request_off.request_response == 'accepted' %>
        <% if Date.today < request_off.requested_date %>
          <tr  BGCOLOR="00FF00">
            <td><%= request_off.employee.first_name %></td>
            <td><%= request_off.requested_date %></td>
            <td><%= request_off.created_at %></td>
            <td><%= request_off.request_response %></td>
            <td><%= request_off.vacation_type %></td>
            <td><%= request_off.admin_comment %></td>
          </tr>
          <tr>
            <th><h4> Comment </h4></th>
            <th colspan = 5><%= request_off.comment %></th>
          </tr>
        <% end %>
      <% else %>
        <% if Date.today < request_off.requested_date %>
          <tr>
            <td><%= request_off.employee.first_name %></td>
            <td><%= request_off.requested_date %></td>
            <td><%= request_off.created_at %></td>
            <td><%= request_off.request_response %></td>
            <td><%= request_off.vacation_type %></td>
            <td><%= request_off.admin_comment %></td>
          </tr>
          <tr>
            <th><h4> Comment </h4></th>
            <th colspan = 5><%= request_off.comment %></th>
          </tr>
        <% end %>
      <% end %>
      <% end %>


    <% end %>
  <% end %>
  <% end %>

</table>
</div>