<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Your requests</h1>

<table class="studentTable">
  <tr>
    <th>Employee Name</th>
    <th>Created On</th>
    <th>Requested Date</th>
  </tr>
  
  <% @request_off.each do |requests| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= request_off.created_on %></td>
        <td><%= request_off.requested_date %></td>
      </tr>
  <% end %>

</table>