<!DOCTYPE html>
<html>
<head>
  <title>NkuProject</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <style>
    th{background: #CCCCCC;}
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <br>
    <%= link_to ' request off ', new_request_off_path, class: "btn btn-default navbar-btn" %>


    <% if current_user.is_admin? %>
      <%= link_to ' view requests off ', request_offs_path, class: "btn btn-default navbar-btn" %>
    <% else %>
      <%= link_to ' view your requests off ', request_offs_path, class: "btn btn-default navbar-btn" %>
    <% end %>
    <%= link_to "Change your password", edit_employee_path(current_user), class: "btn btn-default navbar-btn" %>
  
    <br>
    <p class>
    Hi <%= current_user.first_name %>!
    </p>
    <%= link_to "Sign out", session_path(session), method: :delete, 
      data: { confirm: 'Are you sure you want to sign out?' }, class: "btn btn-default navbar-btn"%>

  <% else %>
    <%= link_to ' create new employee ', new_employee_path, class: "btn btn-default navbar-btn" %>
    <%= link_to ' Login ', sessions_path, class: "btn btn-default navbar-btn" %>
  <% end %>
  <br>
  <% if flash[:notice] %>
    <h1><div class="notice"><%= flash[:notice] %></div></h1>
  <% end %>
<%= yield %>
</body>
</html>